*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:Inter, sans-serif;
    background-color: whitesmoke;
    margin: auto;
}

/*Navigation bar*/
ul{
    list-style:none;
}

a{
    text-decoration:none;
}

.header-container{
    max-width:1120px;
    margin:auto;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.align-items-center{
    align-items:center;
}

.justify-content-between{
    justify-content: space-between;
}

.header{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding: 12px 0;
}

.header .logo,
.header .nav{
    padding:0 15px;
}

.header .logo a{
    color: #ffffff;
    font-size:25px;
}

.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: white;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}

/*
.container{
    border-radius: 10px;
}

.body-content {
    padding:10px 35px;
}

button{
    border-radius:10px;
    padding:5px 15px;
    margin:10px;
    font-size:15px;
}

button:hover{
    background-color: orange;
}

form .form-group label{
	text-align: center;
	padding:100px 35px;
	margin:10px;
    font-size:20px;
}

form .form-group input{
	border-radius:1px;
    margin: 10px;
}